img {
    width: 100%;
    height: auto;
    display: block;
}
row {
    padding: 100px;
}
.navbar {
    margin-bottom: 10px;
}
/* #searchButton {
    border-color: orange;
    color:orange;
    background-color: dimgray;
} */