img {
    width: 100%;
    height: 100%;
    display: block;
    border-color: lightgray;
    border-style: solid;
    box-shadow: lightgray;
}

.row{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.navbar {
    margin-bottom: 10px;
    background-color: #343a40;
    color: white;
}
.title{
    padding-right: 30px;
}

.btn-dark {
    border-color: orange;
    color:orange;
}
.form-inline{
    margin: auto;
    margin-right: 0px;
}

#toResults
{
    background-color: #6c757d;
    color: orange;
    text-align: left;
}