img {
    width: 100%;
    height: auto;
    display: block;
}
row {
    padding: 100px;
}
.navbar {
    margin-bottom: 10px;
    background-color: #343a40;
    color: white;
}
.title{
    padding-right: 30px;
}

.btn-dark {
    border-color: orange;
    color:orange;
}
.form-inline{
    margin-left: 575px;
}

#toResults
{
    background-color: #6c757d;
    color: orange;
    text-align: left;
}